body {
  font-family: "Roboto";
  @extend %body;
}


#__nuxt {
  overflow: hidden;
}

.reset {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #000;
  text-transform: none;
  text-decoration: none;
  font-size: 16px;
}

.page {
  height: 100%;
  position: relative;
}

.page-wrap {
  height: 100%;
}

.page__header {
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  border-bottom: 1px solid $Grey300;
}

.content {
  width: calc(100% - 260px);
  height: 100%;
}

.search {
  width: 344px;
  margin-right: 16px;
}

.filter {
  padding-left: 20px;
  padding-right: 20px;
  height: 71px;
  border-bottom: 1px solid $Grey300;
  padding-top: 8px;

  .v-label {
    color: $Grey3;
    font-weight: 500;
    font-size: 16px;
  }

  .v-text-field>.v-input__control>.v-input__slot:after {
    color: $A400;
  }
}



@media(max-width: 1100px) {
  .content {
    width: calc(100% - 220px);
  }
}

@media(max-width: 1000px) {
  .content {
    width: 100%;
  }

  .search {
    display: none;
  }

  .v-application .page__header {
    display: none !important;
  }

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }
}
