// color

$black: #111111;
$A400: #651FFF;
$primary: #6200EE;
$Purple50: #EDE7F6;
$Gray100: #F5F5F5;
$Grey300: #E0E0E0;
$Grey700: #616161;
$Grey800: #424242;
$Gray900: #212121;
$GrayK: #6B6B6B;
$GrayM: #FAFAFA;
$Grey2: #4F4F4F;
$Grey3: #828282;
$Grey6: #F2F2F2;
