.place-table {
  .theme--light.v-chip:not(.v-chip--active).active {
    background-color: $A400;
    color: #fff;
  }

  td:last-child {
    text-align: right;
  }

  .theme--light.v-chip:not(.v-chip--active) {
    background-color: $Grey6;
    color: $Grey2;
    font-weight: bold;
    font-size: 11px;
    height: 24px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
  }

  .theme--light.v-btn {
    color: $black;
    height: 28px;
    font-size: 13px;
    transition: background-color .4s;
    text-transform: none;
    font-weight: normal;

    &:hover {
      background-color: $Grey300;
    }
  }

  .v-btn--outlined {
    border: 1px solid $Grey300;
  }

  tr:last-child {
    td {
      border-bottom: thin solid rgba(0, 0, 0, 0.12);
    }
  }
}

.v-data-table.place-table>.v-data-table__wrapper>table>tbody>tr>td,
.v-data-table.place-table>.v-data-table__wrapper>table>tbody>tr>th,
.v-data-table.place-table>.v-data-table__wrapper>table>thead>tr>td,
.v-data-table.place-table>.v-data-table__wrapper>table>thead>tr>th,
.v-data-table.place-table>.v-data-table__wrapper>table>tfoot>tr>td,
.v-data-table.place-table>.v-data-table__wrapper>table>tfoot>tr>th {

  &:first-child {
    padding-left: 20px;
  }

  &:last-child {
    padding-right: 20px;
  }
}


@media(max-width: 1400px) {

  .v-data-table.place-table>.v-data-table__wrapper>table>tbody>tr>td,
  .v-data-table.place-table>.v-data-table__wrapper>table>tbody>tr>th,
  .v-data-table.place-table>.v-data-table__wrapper>table>thead>tr>td,
  .v-data-table.place-table>.v-data-table__wrapper>table>thead>tr>th,
  .v-data-table.place-table>.v-data-table__wrapper>table>tfoot>tr>td,
  .v-data-table.place-table>.v-data-table__wrapper>table>tfoot>tr>th {
    padding: 0 8px;

    &:first-child {
      padding-left: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }
  }



}


@media(max-width: 700px) {
  .place-table {

    td:nth-child(1),
    td:nth-child(3),
    td:nth-child(4) {
      display: none;
    }

    td:last-child {
      text-align: right;
      width: 115px;
    }

    td:nth-last-child(2) {
      width: 100px;
    }
  }

  .v-data-table.place-table>.v-data-table__wrapper>table>tbody>tr>td,
  .v-data-table.place-table>.v-data-table__wrapper>table>tbody>tr>th,
  .v-data-table.place-table>.v-data-table__wrapper>table>thead>tr>td,
  .v-data-table.place-table>.v-data-table__wrapper>table>thead>tr>th,
  .v-data-table.place-table>.v-data-table__wrapper>table>tfoot>tr>td,
  .v-data-table.place-table>.v-data-table__wrapper>table>tfoot>tr>th {
    padding: 0 8px;

    &:nth-child(2) {
      padding-left: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }
  }

}
